

/* Main container styling */
.login__main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-wrapper {
  display: flex;
  width: 800px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.login-left {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  color: #000;
  margin-bottom: 1rem;
}

.input-group {
  margin-bottom: 1.5rem;
}

.input-group input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  
}

.input-group input::placeholder {
  color: #aaa;
}

.login-button {
  width: 100%;
  padding: 0.8rem;
  background-color: #7d1313;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  margin-top: 1rem;
}

.login-button:hover {
  background-color: #5c0e0e;
}

.signup-text {
  margin-top: 1rem;
  color: #666;
  text-align: center;
}

.signup-text a {
  color: #7d1313;
  text-decoration: none;
  font-weight: bold;
}

.signup-text a:hover {
  text-decoration: underline;
}

.error {
  color: red;
  margin-top: 1rem;
  text-align: center;
}

/* Right side with illustration */
.login-right {
  flex: 1;
  background-color: #e0e0e0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.illustration {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
