.home_header__wrapper{
    background-image: url('https://res.cloudinary.com/dujdz2jbl/image/upload/v1731165684/frontend/ppdely8eybqia7ho5ubf.png');
    background-position:bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100svh;
}